body{
    background-color: lightblue;
    color:maroon;
    font-family: arial;
    margin: 0px;
}

main{

}

header{
    background-color:darkslateblue;
    color: aliceblue;
    font-family: times;
    margin: 0px;
    padding: 20px;
    font-size: 20pt;
}

footer{
    background-color:darkgray;
    color: black;
    margin: 0px;
    font-family: sans-serif;
    text-align: right;
}

a{
    color: green;
    text-decoration: none;
    transition: 5s 2s;
}

a:link{
color:blueviolet;
text-decoration:none;
}

a:visited{
color: darkblue;
}

a:hover{
    color:red;
    text-decoration: underline;
    transition: 0.3s;
}

a:active{
    color:black;
    opacity: 0.3;
}